numpy
streamlit
pdfplumber
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-classic
chromadb
sentence-transformers
huggingface-hub
python-dotenv
transformers
tokenizers